input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@extend %block-default-full-width;
	color: $color-input-text;
	border: 1px solid $color-input-border;
	background: $color-input-bg;
	border-radius: 0;
	padding: 14px 4px;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	@include transition(all, 0.3s, ease-in-out);
	&:hover {
		background: lighten($color-input-bg, 3%);
	}
	&:active,
	&:focus {
		background: $white;
		color: $color-input-text-focus;
	}
}

select {
	border: 1px solid $color-input-border;
}

textarea {
	width: 100%;
}
