@import "buttons";
@import "fields";

form.search-form {
	@extend %block-default-full-width;
	&:before {
        display: block;
        position: absolute;
        margin: 0;
        width: 18px;
        height: 35px;
        font-size: 24px;
        line-height: 35px;
        right: $spacer-sm;
        color: $color-gray-2;
        font-family: FontAwesome;
        content: '\f00e';
        z-index: 1;
        font-weight: normal;
	}
	input[type="search"] {
		height: 35px;
		min-height: 35px;
		appearance: none;
	}
	input[type="submit"] {
        display: none;
        position: relative;
        float: right;
        width: 80px;
        text-align: center;
        line-height: 35px;
        padding: 0;
    }
}