@import "buttons";
@import "fields";

form.search-form {
	@extend %block-default-full-width;
	&:before {
        display: block;
        position: absolute;
        margin: 0;
        width: 18px;
        height: 35px;
        font-size: 24px;
        line-height: 35px;
        //padding: $spacer-sm;
        right: $spacer-sm;
        color: $color-gray-2;
        font-family: FontAwesome;
        content: '\f00e';
        z-index: 4;
        font-weight: normal;
	}
	input[type="search"] {
		height: 35px;
		min-height: 35px;
		appearance: none;
	}
	input[type="submit"] {
        display: none;
        position: relative;
        float: right;
        width: 80px;
        text-align: center;
        line-height: 38px;
        padding: 0;
    }
}
/* form.search-form {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: $color-primary;
    color: #cacaca;
    font-weight: normal;
    font-style: normal;
    height: 35px;
    min-height: 35px;
    //text-transform: capitalize;
    &:before {
        display: block;
        position: absolute;
        margin: 0;
        width: 18px;
        height: 35px;
        font-size: 24px;
        line-height: 35px;
        padding: $spacer-sm;
        right: $spacer-xs;
        //top: 0;
        color: $color-gray-2;
        font-family: FontAwesome;
        content: '\f00e';
        z-index: 4;
        font-weight: normal;
    }
    @include transition(all, 0.2s, ease-in-out);
    input,
    input[type="search"] {
    	position: absolute;
    	width: 100%;
    	height: 35px;
    	margin: 0;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	border: none;
    	outline: none;
        //background: $color-primary;
        /* font-family: $font-base;
        font-weight: normal;
        font-style: normal;
        color: $color-text;
        display: inline-block;
        position: relative;
        float: left;
        width: 100%;
        height: 35px;
        min-height: 35px;
        line-height: 45px;
        padding: $spacer-sm; */
    /*}
    input[type="submit"] {
        display: none;
        position: relative;
        float: right;
        width: 80px;
        text-align: center;
        line-height: 38px;
        padding: 0;
    }
}
 */