.alignleft {
	display: inline;
	float: left;
	margin-right: $spacer-lg;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $spacer-lg;
}

.aligncenter,
.alignnone {
	clear: both;
	@extend %block-default-full-width;
	margin-bottom: $spacer-sm;
}
.wp-post-image {
	margin-bottom: $spacer-lg;
}
