figure {
    background: $color-gray-1;
    padding: $spacer-base;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    max-width: 100%;
    img[class*="wp-image-"] {
        @include center-block;
    }
    .wp-caption-text {
        margin: $spacer-sm 0 0;
    }
}

.wp-caption-text {
    text-align: left;
}
