.main-navigation {
	@extend .two-thirds;
	float: right;
	ul {
		width: auto;
		float: right;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $spacer-base;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;
		line-height: calc(#{$height-site-header} - #{$spacer-lg});
	}
	
	a {
		display: block;
		text-decoration: none;
		padding: 0 $spacer-base;
	}
	li:last-child > a {
		margin-right: -$spacer-base;

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
button.menu-toggle {
	float: right;
	font-family: $font-sans-bold;
	text-transform: uppercase;
	&:after {
		clear: both;
	}
}

@media screen and (min-width: $desktop) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $spacer-base;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
@media screen and (max-width: $mobile) {
.main-navigation {
	display: block;
	position: absolute;
	margin: 0;
	top: $spacer-lg;
	right: $spacer-base;
	width:  240px;
	ul {
		width: 100%;
		float: left;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background: #fafafa;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $spacer-base;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		clear: both;
		display: block;
		position: relative;
		width: 100%;
		line-height: 2;
	}
	
	a {
		display: block;
		text-decoration: none;
		padding: 0 $spacer-base;
	}
	li:last-child > a {
		margin-right: 0;

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}	
}
